@import url('https://fonts.googleapis.com/css2?family=Baumans&family=Manufacturing+Consent&display=swap');
@import "tailwindcss";

*{
  font-family: "Baumans", system-ui;
}

.font{
  font-family: "Manufacturing Consent", system-ui;
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  border: #1c1c1c 1px solid;
}

::-webkit-scrollbar-track {
  background: #1c1c1c; /* رمادي غامق */
  padding: 2px;
}
::-webkit-scrollbar-thumb {
  background-color: #505050; /* لون ثابت للسكروول */
  border-radius: 8px;
  margin: 2px; /* زي padding بسيط داخلي */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #616161;
}

